
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.container {
  margin-left: auto;
  margin-right: auto;


  font-family: 'Roboto', sans-serif;
  display: flex;

}

.dark-side-block {
  width: 302px;
  min-height: 100vh;
  background: #061125;
  padding: 50px 50px;
}

.btn {
  width: 210px;
  height: 50px;
  background: #72B63B;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 22px;
  margin-bottom: 20px;
}


.sort-text {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
}
